h1 { color: blue; }
p { font-size: 18px; }
body { background-color: lightgrey; }
.menu {
	background-color: #b0e57c;
	color: white;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
}
.menu ul {
	list-style-type: none;
	padding: 0;
}
.menu li {
	display: inline;
	margin: 10px;
}
.menu a {
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-weight: bold;
}
.menu a:hover {
	color: yellow;
}
